* {
  font-family: "Roboto", sans-serif;
}

body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  overflow-y: hidden;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  margin: auto;
  position: relative;
  width: 100%;
}

.header {
  width: 100%;
  border-bottom: 1px solid #d3d6da;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header > .header_container {
  width: 100%;
}
.header > .settings_container {
  width: auto;
  margin-right: 2%;
  margin-left: 2%;
}

.settings_container img {
  width: 25px;
  cursor: pointer;
}

.rotateSettingsIcon {
  transform: rotate(180deg);
  transition: all 0.5s ease;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.container {
  max-width: 500px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-container {
  flex-grow: 1;
  overflow: hidden;
}

.board {
  max-height: 420px;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  gap: 5px;
  max-width: 420px;
  flex-grow: 1;
  aspect-ratio: 5 / 6;
  padding: 10px;
  position: relative;
}

.game-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

.tile {
  margin: 0;
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 3vmin;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  color: #000000;
  text-transform: uppercase;
  user-select: none;
  border: 2px solid #d3d6da;
}

.black_border {
  border: 2px solid #000000 !important;
}

.button {
  font-family: inherit;
  font-weight: bold;
  border: 0;
  padding: 0;
  margin: 0 3px 0 3px;
  height: 58px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  background-color: #d3d6da;
  color: #000000;
  flex: 1;
  display: flex;
  transition: all 0.6s ease;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}

.row {
  display: flex;
  width: 100%;
  touch-action: manipulation;
  justify-content: center;
  align-items: center;
}

.row-margin {
  margin: 0 auto 8px;
}

.spacer {
  flex: 0.5;
}

.action {
  flex: 1.5;
  font-size: 12px;
}

h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0.01em;
  text-align: center;
  left: 0;
  right: 0;
  pointer-events: none;
  margin: 8px;
}

.row_container {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shake {
  animation: shake 350ms ease-in-out;
}

#game-toaster {
  z-index: 1000;
}

.toaster {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  pointer-events: none;
  width: fit-content;
}

.alert {
  pointer-events: none;
  padding: 1em;
  background: black;
  color: hsl(204, 7%, 85%);
  border-radius: 0.25em;
  opacity: 1;
  font-weight: bold;
  transition: opacity 500ms ease-in-out;
  margin-bottom: 0.5em;
  width: fit-content;
}

.alert:last-child {
  margin-bottom: 0;
}

.alert.hide {
  opacity: 0;
}

.size {
  animation: size 75ms ease-in-out;
}

.flip {
  transition: transform 350ms linear;
  transform: rotateX(90deg);
}

.flipTileClearGrid {
  transition: transform 350ms linear;
  transform: rotateX(90deg);
}

.undoflipTileClearGrid {
  transition: transform 350ms linear;
  transform: rotateX(0deg);
}

.whiteBoard {
  background-color: white !important;
}

.whiteBoard p {
  border: 2px solid #d3d6da !important;
}

.undoflip {
  transition: transform 350ms linear;
  transform: rotateX(0deg);
}

.dance {
  animation: dance 500ms ease-in-out;
}

@keyframes size {
  10% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  90% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes shake {
  10% {
    transform: translateX(-2%);
  }
  30% {
    transform: translateX(2%);
  }
  50% {
    transform: translateX(-2.5%);
  }
  70% {
    transform: translateX(2.5%);
  }
  90% {
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes dance {
  20% {
    transform: translateY(-50%);
  }
  40% {
    transform: translateY(5%);
  }
  60% {
    transform: translateY(-25%);
  }
  80% {
    transform: translateY(2.5%);
  }
  90% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes flip {
  20% {
    transform: rotateX(15deg);
  }
  40% {
    transform: rotateX(45deg);
  }
  60% {
    transform: rotateX(90deg);
  }
  80% {
    transform: rotateX(45deg);
  }
  90% {
    transform: rotateX(15deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
